.nav-wrapper{
    background-color: #985A08;
}

label {
    font-family: "Fira Sans", sans-serif;
}

#state-label{
    font-size: x-large;
}

#drop-down{
    margin-top: 20%;
}

.brand-logo{
    margin-left: 20px;
}
.waves-light{
    background-color: #985A08;
}
img {
    
    align-content: center;
    height: 200px;
    width: 50px;
    padding: 20px 70px 5px;
}
